*.o
*.obj

*.gch
*.pch

*.lib
*.a

*.so
*.so.*
*.dll
*.dylib

*.exe
*.out
*.app
*.bin

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
out/
compile_commands.json
cov_html/

*.log

.mygit/*
.cache/*

vgcore*
debug*
